{
    admin off
    persist_config off
    auto_https off
    log {
        format json
    }
}

:80 {
    # Redirect admin.raverclub.com to https://admin.raverclub.com
    @adminSubdomain host admin.raverclub.com
    redir @adminSubdomain https://admin.raverclub.com{uri}
}

https://admin.raverclub.com {
    log {
        format json
    }
    # Handle all requests to this subdomain
    handle {
        reverse_proxy https://raverclub-engine.up.railway.app/dashboard* {
            import lb_settings
            import passive_health_checks
            # Rewrite the request to strip the subdomain part and only pass /dashboard
            uri_strip_prefix /dashboard
        }
    }
}

# Default handler for the main domain and other subdomains
https://raverclub.com {
    reverse_proxy https://{$FRONTEND_DOMAIN} {
        import lb_settings
        import passive_health_checks
    }
}
